nav{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 3px 0.5px #000;
    .search{
        input{
            padding: 0.50rem;
            border: none;
            text-align: center;
            border-start-start-radius: 20px;
            border-end-start-radius: 20px;
        }
        button{
            padding: 0.50rem;
            border: none;
            border-end-end-radius: 20px;
            border-start-end-radius: 20px;
            cursor: pointer;
            background-color: #f77b28;
        }
    }
}